@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

:root {
    font-family: 'Fira Mono', 'JetBrains Mono', Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;

    --primary-accent: #eb5e28;
    --primary-dark: #252422;
    --seondary-dark: #403d39;
    --primary-light: #ccc5b9;
    --secondary-light: #fffcf2;
}

html {
    background-color: var(--primary-light);
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    color: var(--primary-dark);
    font-weight: 400;

    display: grid;
    grid-template-rows: 7.5rem 100% 7rem;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "main  "
        "footer";
}

header {
    background-color: var(--primary-dark);
    width: 100%;

    grid-area: header;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header > * {
    margin: 0 0.25rem;
}

a {
    color: var(--secondary-light);
    text-decoration: none;
}

.btn {
    padding: 0.50rem;
    margin: 0 0.25rem;
    box-shadow: 0.125rem 0.125rem 0 var(--primary-accent);
    font-size: 1.75rem;
    background-color: black;
    border-radius: 0.50rem;
    transition: font-size .2s ease-in-out;
}

.btn:hover {
    font-size: 2rem;
    transition: font-size .2s ease-in-out;
}

header h1{
    margin-left: 4rem;
}

header nav{
    margin-right: 4rem;
}

.main-outer-div{
    margin: 4rem 15%;
    border-left: 2px solid #77726b;
    border-right: 2px solid #75716c;
    height: max-content;
}

.main-inner-div{
    margin: 2rem 2rem;
}

.main-inner-div li{
    border-bottom:2px solid #75716c;
    padding: 2rem 2rem;
    color: #000000;
    font-size: 1.7rem;
    list-style: none;
}

/* .send-reviews {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 200;
    position: fixed;
    background-color: rgb(0, 0, 0);
} */

.dialouge-box{
    height: 60%;
    width: 60%;
    position: fixed;
    top: 20%;
    left: 20%;
    background-color: var(--secondary-light);
    display: none;
    border: 4px solid #5b5655;
    border-radius: 10px;
    z-index: 2;
}

.dialouge-box a.submit{
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: #5b5655;
    color: #ffffff;
    border-radius: 20px;
}

.dialouge-box p{
    font-size: 2rem;
    color: #252422;
}

.dialouge-box textarea{
    width: 90%;
    height: 60%;
}

.dialouge-box a.Cancel{
    font-size: 1.5rem;
    border-radius: 10rem;
    padding: 0.9rem;
    color: #ffffff;
}

.send-reviews .Complaints-dialouge-box:checked ~ .dialouge-box{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Cancel{
    height: fit-content;
    max-width: 50%;
}

.top-dialouge-box{
    width: 95%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Complaints-dialouge-box{
    position:fixed;
    top: 90%;
    left: 5%;
    opacity: 100;
    height: 5rem;
    width: 5rem;
    z-index: 3;
    opacity: 0;
}

.Send{
    position:fixed;
    top: 90.5%;
    left: 5.5%;
    font-size: 3rem;
    padding: 0.5rem;
    background-color: #ffffff;
    color: #4d4643;
    border-radius: 10px;
    border: 2px solid #403d39;
}

footer {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "hackmol gdsc"
        "divider divider"
        "section section";

    grid-area: footer;
}